body { font-family: Arial, sans-serif; text-align: center; }
.timer { font-size: 3rem; margin: 20px; }
button { margin: 5px; padding: 10px 20px; cursor: pointer; }
.task-list { margin-top: 20px; }
section {
    padding: 100px;
    height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 60px;
    background: #787878;
    color: white;
  
}
.nav-bar {
  
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #b5b5b5;
  }